.about {
  padding-top: 60px;
  padding-bottom: 70px;
}

.about-img {
  width: 100%;
  max-height: 490px;
  object-fit: cover;
}

.about-subtitle {
  color: $primary;
}

.about-title {
  padding-bottom: 10px;
  text-align: left;
  text-transform: none;
}

.about-text {
  line-height: 190%;
}
