.appointment {
  margin-top: 80px;
  background: url(../images/dist/appointment/1.jpg) no-repeat top center;
  background-size: cover;
  padding: 60px 0;

  &-form {
    padding-top: 55px;
  }

  .button {
    padding-top: 15px;
    padding-bottom: 15px;
    text-transform: uppercase;

    @include media-breakpoint-down(md) {
      width: 100%;
    }
  }
}
